:root {
  --black: #000;
  --dark: #050A0F;
  --dark-gold: #ae8625;
  --gold: #d2ac47;
  --medium-gold: #ffd868;
  --light-gold: #f7ef8a;
  --white: #fff;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #222;
  color: var(--white);
  font-family: 'Concert One', cursive;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* ----------------------------- Common ----------------------------- */

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex.row {
  flex-direction: row;
}

@media screen and (min-width: 960px) {
  .flex.row-gt-sm {
    flex-direction: row;
  }
}

.full-height {
  height: 100%;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.header {
  position: relative;
  font-size: 25px;
}

.header-bar {
  width: 70px;
  height: 4px;
  margin: 25px 0 75px 0;
  background: #444649;
}

@media screen and (min-width: 600px) {
  .label-wrap .label {
    margin: 15px 0 5px 0;
  }
}

.label-wrap .label {
  margin: 20px 0 10px 0;
}

@media screen and (min-width: 600px) {
  .label {
    font-size: 28px;
  }
}

.label {
  font-size: 24px;
  font-weight: 500;
}

.highlight {
  background-image: linear-gradient(#9790a0 50%, var(--white) 60%, #afaab6 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ----------------------------- Menu ----------------------------- */

.menu {
  max-width: 1300px;
  background-image: linear-gradient(#525252, var(--white), #525252);
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1;
}

.menu .navbar-toggler {
  background-image: linear-gradient(#525252, var(--white), #525252);
} 

.menu .nav-link {
  color: var(--black);
}

/* ----------------------------- Home ----------------------------- */

#homeSection {
  height: 100vh;
  width: 100vw;
  background-image: url(assets/images/motorcycle-road-trip.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#homeSection > .raven {
  position: absolute;
  top: 0;
  right: 17vw;
  width: 3vw;
  z-index: 2;
}

#homeSection > .billboard {
  position: absolute;
  top: 10vh;
  right: 16vw;
  width: 31vw;
}

#homeSection > .light {
  position: absolute;
  top: 4vh;
  right: 21.3vw;
  width: 20vw;
  height: 50vh;
  z-index: 3;
}

#homeSection > .poster {
  position: absolute;
  top: 2vh;
  right: 27.6vw;
  height: 20vh;
  width: 20vw;
}

#homeSection > .poster > ol > {
  list-style: none;
  padding-top: 35px;
  padding-left: 62px;
}

#homeSection > .poster > ol > li {
  display: inline;
  float: left;
}

#homeSection > .poster > ol > li div {
  height: 171px;
  width: 36px;
  top: 9vh;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
}

/* ANIMATION */
#homeSection > .poster > ol > li div:nth-child(1) {
  background-image: url("./assets/images/hello.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  -webkit-animation: rotate 25s linear;
  -webkit-animation-iteration-count: infinite;
  /* Keep on looping */
  -webkit-transform-origin: center;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg)
  }

  16.5% {
    -webkit-transform: rotateY(120deg)
  }

  33% {
    -webkit-transform: rotateY(120deg)
  }

  49.5% {
    -webkit-transform: rotateY(240deg)
  }

  66% {
    -webkit-transform: rotateY(240deg)
  }

  82.5% {
    -webkit-transform: rotateY(360deg)
  }

  100% {
    -webkit-transform: rotateY(360deg)
  }
}

#homeSection > .poster > ol > li div:nth-child(2) {
  background-image: url("./assets/images/welcome.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  -webkit-animation: rotate2 25s linear;
  -webkit-animation-iteration-count: infinite;
  /* Keep on looping */
  -webkit-transform-origin: right;
}

@-webkit-keyframes rotate2 {
  0% {
    -webkit-transform: rotateY(120deg)
  }

  16.5% {
    -webkit-transform: rotateY(240deg)
  }

  33% {
    -webkit-transform: rotateY(240deg)
  }

  49.5% {
    -webkit-transform: rotateY(360deg)
  }

  66% {
    -webkit-transform: rotateY(360deg)
  }

  82.5% {
    -webkit-transform: rotateY(480deg)
  }

  100% {
    -webkit-transform: rotateY(480deg)
  }
}

#homeSection > .poster > ol > li div:nth-child(3) {
  background-image: url("./assets/images/fullstack.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  -webkit-animation: rotate3 25s linear;
  -webkit-animation-iteration-count: infinite;
  /* Keep on looping */
  -webkit-transform-origin: left;
}

@-webkit-keyframes rotate3 {
  0% {
    -webkit-transform: rotateY(240deg)
  }

  16.5% {
    -webkit-transform: rotateY(360deg)
  }

  33% {
    -webkit-transform: rotateY(360deg)
  }

  49.5% {
    -webkit-transform: rotateY(480deg)
  }

  66% {
    -webkit-transform: rotateY(480deg)
  }

  82.5% {
    -webkit-transform: rotateY(600deg)
  }

  100% {
    -webkit-transform: rotateY(600deg)
  }
}

/* BACKGROUND POSITION */
#homeSection > .poster > ol > li:nth-child(1) div {
  background-position: -0px 0;
  margin-left: 0px
}

#homeSection > .poster > ol > li:nth-child(2) div {
  background-position: -36px 0;
  margin-left: 36px
}

#homeSection > .poster > ol > li:nth-child(3) div {
  background-position: -72px 0;
  margin-left: 72px
}

#homeSection > .poster > ol > li:nth-child(4) div {
  background-position: -108px 0;
  margin-left: 108px
}

#homeSection > .poster > ol > li:nth-child(5) div {
  background-position: -144px 0;
  margin-left: 144px
}

#homeSection > .poster > ol > li:nth-child(6) div {
  background-position: -180px 0;
  margin-left: 180px
}

#homeSection > .poster > ol > li:nth-child(7) div {
  background-position: -216px 0;
  margin-left: 216px
}

#homeSection > .poster > ol > li:nth-child(8) div {
  background-position: -252px 0;
  margin-left: 252px
}

#homeSection > .poster > ol > li:nth-child(9) div {
  background-position: -288px 0;
  margin-left: 288px
}

#homeSection > .poster > ol > li:nth-child(10) div {
  background-position: -324px 0;
  margin-left: 324px
}

#homeSection > .poster > ol > li:nth-child(11) div {
  background-position: -360px 0;
  margin-left: 360px
}

#homeSection > .poster > ol > li:nth-child(12) div {
  background-position: -396px 0;
  margin-left: 396px
}

#homeSection > .poster > ol > li:nth-child(13) div {
  background-position: -432px 0;
  margin-left: 432px
}

#homeSection > .poster > ol > li:nth-child(14) div {
  background-position: -468px 0;
  margin-left: 468px
}

#homeSection > .poster > ol > li:nth-child(15) div {
  background-position: -504px 0;
  margin-left: 504px
}

#homeSection > .poster > ol > li:nth-child(16) div {
  background-position: -540px 0;
  margin-left: 540px
}

#homeSection > .poster > ol > li:nth-child(17) div {
  background-position: -576px 0;
  margin-left: 576px
}

#homeSection > .poster > ol > li:nth-child(18) div {
  background-position: -612px 0;
  margin-left: 612px
}

#homeSection > .poster > ol > li:nth-child(19) div {
  background-position: -648px 0;
  margin-left: 648px
}

#homeSection > .poster > ol > li:nth-child(20) div {
  background-position: -684px 0;
  margin-left: 684px
}

#homeSection > .poster > ol > li:nth-child(21) div {
  background-position: -720px 0;
  margin-left: 720px
}

#homeSection > .poster > ol > li:nth-child(22) div {
  background-position: -756px 0;
  margin-left: 756px
}

/* ----------------------------- About ----------------------------- */

#aboutSection {
  height: 100vh;
  width: 100vw;
}

@media screen and (min-width: 960px) {
  #aboutSection .bullet-wrap {
    height: intial;
    margin: 0;
    padding: 0 10px;
  }
}

@media screen and (min-width: 600px) {
  #aboutSection .bullet-wrap {
    height: 230px;
  }
}

#aboutSection .bullet-wrap {
  height: 200px;
  justify-content: flex-start;
  padding: 0 7px;
}

#aboutSection .star {
  margin:0.2em auto;
  font-size: 5em;
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--dark-gold);
  border-left: 1em solid transparent;
  transform: rotate(35deg);
}

#aboutSection .star:before {
  border-bottom: 0.8em solid var(--dark-gold);
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -0.45em;
  left: -0.65em;
  display: block;
  content: "";
  transform: rotate(-35deg);
}

#aboutSection .star:after {
  position: absolute;
  display: block;
  top: 0.03em;
  left: -1.05em;
  width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--dark-gold);
  border-left: 1em solid transparent;
  transform: rotate(-70deg);
  content: "";
}

#aboutSection .description {
  width: 20vw;
}

#aboutSection .skills-wrapper {
  align-items: flex-start;
  width: 84vw;
  height: 100%;
}

@media screen and (min-width: 960px) {
  #aboutSection .skills-wrapper .me {
    margin: 0;
  }
}

@media screen and (min-width: 600px) {
  #aboutSection .skills-wrapper .me {
    height: 250px;
  }
}

#aboutSection .skills-wrapper .me {
  height: 200px;
}

#aboutSection img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

#aboutSection .page-link {
  background-image: linear-gradient(var(--dark-gold), var(--medium-gold), var(--gold));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 960px) {
  #aboutSection .bars-wrap {
    margin: 0 0 0 0;
  }
}

#aboutSection .bars-wrap {
  max-width: 90%;
  width: calc(100% - 15px);
}

@media screen and (min-width: 960px) {
  #aboutSection .bar {
    max-width: 90%;
  }
}

@media screen and (min-width: 600px) {
  #aboutSection .bar {
    font-size: 11px;
    height: 28px;
    margin: 0 0 15px 0;
  }
}

#aboutSection .bar {
  align-items: flex-end;
  background-color: #eee;
  color: #666;
  margin: 0 0 12px 0;
  position: relative;
}

#aboutSection .bar:nth-child(1) .fill {
  transition: 1.1s 0.2s width ease-in-out;
}

#aboutSection .bar.fill {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(var(--dark-gold), var(--medium-gold), var(--gold));
  opacity: 1;
  padding: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
}

@media screen and (min-width: 600px) {
  #aboutSection .bar span {
    display: initial;
  }
}

#aboutSection .bar span {
  position: relative;
  padding: 0 15px 0 0;
  z-index: 1;
}

@media screen and (min-width: 600px) {
  #aboutSection .bar .tag {
    width: 110px;
  }
}

#aboutSection .bar .tag {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(#525252, var(--white), #525252);
  color: var(--black);
  border-radius: 10px;
  height: 100%;
  width: 70px;
  font-size: 15px;
}

#aboutSection .bar .value {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 32px;
}

#aboutSection .bar.flex.row {
  flex-wrap: nowrap;
  width: 90%;
  border-radius: 10px;
}

/* ----------------------------- Portfolio ----------------------------- */

#portfolioSection {
  height: 100vh;
  width: 100vw;
  background-image: url(assets/images/portal.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#projects > .container {  
  position: relative;
  width: 60vw;
}

#projects img {
  vertical-align: middle;
  width: 100%;
}

/* Next & previous buttons */
#projects #prev,
#projects #next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "prev button" to the left */
#projects #prev {
  left: 12px;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
#projects #next {
  right: 12px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
#projects #prev:hover,
#projects #next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#projects .number-text {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
#projects .caption-container {
  text-align: center;
  background-color: var(--black);
  padding: 2px 16px;
  color: white;
}

#projects .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
#projects .column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumbnail images */
#projects .thumbnail {
  opacity: 0.6;
  cursor: pointer;
}

#projects .active,
#projects .thumbnail:hover {
  opacity: 1;
}

/* ----------------------------- Contact ----------------------------- */

#contactSection {
  height: 100vh;
  width: 100vw;
  background-image: url(assets/images/technology.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#contactSection .title {
  background-image: linear-gradient(var(--dark-gold), var(--medium-gold), var(--gold));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#contactSection form {
  min-width: 500px;
  margin: 40px auto 0 auto;
  max-width: 95%;
}

#contactSection input[type=text],
#contactSection input[type=email],
#contactSection textarea {
  width: 100%;
  display: block;
  background: #1e242c;
  color: var(--white);
  border: 0;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 3px;
  padding: 10px 15px;
}

#contactSection textarea {
  margin-bottom: 5px;
  min-height: 150px;
}

#contactSection #success {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.25s;
}

@media screen and (min-width: 960px) {
  #contactSection .button {
    font-size: 18px;
  }
}

#contactSection .button {
  background: transparent;
  color: var(--white);
  font-size: 14px;
  margin: 5px 0 0 0;
  outline: 0;
  padding: 10px 30px;
}

#contactSection .button {
  border: 2px solid var(--white);
  box-sizing: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  padding: 10px 20px;
  transition: all 0.5s;
}

#contactSection .button:hover {
  background-image: linear-gradient(#525252, var(--white), #525252);
  color: var(--black);
}

/* ----------------------------- Scrollbar ----------------------------- */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#525252, var(--white), #525252);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(#525252, var(--white), #525252);
}
